In [4]:
import pandas as pd

In [6]:
data=pd.read_csv("mock_twitter_data.csv")

In [8]:
print(data.head())

               name twitter_username   account_start_time  account_id     sex  \
0       Stacey Gray          @psmith  2017-06-04 20:03:19    72520073  Female
1        Erin Smith        @kmullins  2020-06-30 19:23:09    83487574   Other
2  Gregory Schwartz          @sara86  2018-09-22 18:03:55    74983820    Male
3        Jill Nunez  @hernandezjames  2019-06-15 03:30:51    52679019    Male
4   Nicholas Hurley        @gwatkins  2018-08-28 09:29:35     5464240  Female

       birth_place political_view
0     North Andrea       Moderate
1        Roseville   Conservative
2  West Ambershire        Liberal
3        Normanton     Apolitical
4  North Davidland        Liberal

In [10]:
print(data.columns)

Index(['name', 'twitter_username', 'account_start_time', 'account_id', 'sex',
       'birth_place', 'political_view'],
      dtype='object')

In [12]:
df_dropped =data.drop("birth_place",axis =1)
df_dropped.head()

,name,twitter_username,account_start_time,account_id,sex,political_view
0,Stacey Gray,@psmith,2017-06-04 20:03:19,72520073,Female,Moderate
1,Erin Smith,@kmullins,2020-06-30 19:23:09,83487574,Other,Conservative
2,Gregory Schwartz,@sara86,2018-09-22 18:03:55,74983820,Male,Liberal
3,Jill Nunez,@hernandezjames,2019-06-15 03:30:51,52679019,Male,Apolitical
4,Nicholas Hurley,@gwatkins,2018-08-28 09:29:35,5464240,Female,Liberal

In [14]:
data.groupby('sex').agg({'political_view': 'count'})

        political_view
sex
Female              36
Male                35
Other               29

In [16]:
data.iloc[5:10]

,name,twitter_username,account_start_time,account_id,sex,birth_place,political_view
5,Damon Poole,@sandersadam,2016-05-14 12:32:52,51796597,Female,Port Matthewland,Moderate
6,Courtney Mclean,@timothyyoung,2023-07-26 22:31:27,60854554,Other,East Georgefurt,Conservative
7,Harold Parker,@sgross,2023-06-26 14:08:27,65253897,Other,South Julie,Moderate
8,Susan Smith,@grahammeredith,2023-11-26 07:14:07,4930630,Other,Jasmineview,Libertarian
9,Paul Crawford,@dcollins,2015-07-15 10:49:02,48087418,Other,Barrettberg,Moderate

In [18]:
desc=data['name'].describe()
print(desc)

count             100
unique            100
top       Stacey Gray
freq                1
Name: name, dtype: object

In [20]:
df_row_dropped=data.drop(0,axis=0)
df_row_dropped.head()

,name,twitter_username,account_start_time,account_id,sex,birth_place,political_view
1,Erin Smith,@kmullins,2020-06-30 19:23:09,83487574,Other,Roseville,Conservative
2,Gregory Schwartz,@sara86,2018-09-22 18:03:55,74983820,Male,West Ambershire,Liberal
3,Jill Nunez,@hernandezjames,2019-06-15 03:30:51,52679019,Male,Normanton,Apolitical
4,Nicholas Hurley,@gwatkins,2018-08-28 09:29:35,5464240,Female,North Davidland,Liberal
5,Damon Poole,@sandersadam,2016-05-14 12:32:52,51796597,Female,Port Matthewland,Moderate

In [103]:
df_rename =data.rename(columns ={'account_id':'id'})
df_rename.head()

,name,twitter_username,account_start_time,id,sex,birth_place,political_view
0,Stacey Gray,@psmith,2017-06-04 20:03:19,72520073,Female,North Andrea,Moderate
1,Erin Smith,@kmullins,2020-06-30 19:23:09,83487574,Other,Roseville,Conservative
2,Gregory Schwartz,@sara86,2018-09-22 18:03:55,74983820,Male,West Ambershire,Liberal
3,Jill Nunez,@hernandezjames,2019-06-15 03:30:51,52679019,Male,Normanton,Apolitical
4,Nicholas Hurley,@gwatkins,2018-08-28 09:29:35,5464240,Female,North Davidland,Liberal